{% extends "layout.html" %}
{% block content %}
<div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Let's Register</legend>
                <div class="form-group">
                    {{ form.application_name.label(class="form-control-label") }}
                    {% if form.application_name.errors %}
                        {{ form.application_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.application_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.application_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                        {{ form.application_instance_type.label(class="form-control-label") }}
                        {% if form.application_instance_type.errors %}
                            {{ form.application_instance_type(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.application_instance_type.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.application_instance_type(class="form-control form-control-lg") }}
                        {% endif %}
                </div>
                <div class="form-group">
                        {{ form.application_instance_count.label(class="form-control-label") }}
                        {% if form.application_instance_count.errors %}
                            {{ form.application_instance_count(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.application_instance_count.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.application_instance_count(class="form-control form-control-lg") }}
                        {% endif %}
                </div>
                <div class="form-group">
                        {{ form.environment.label(class="form-control-label") }}<br>
                        {{ form.environment(class="form-control form-control-lg") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
</div>

{% endblock content %}